html, body {
    background-image: linear-gradient(rgb(12, 0, 122),rgb(161, 0, 153));
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;

}

.parent {
    margin-top: 30vh;
    width: 100%;
}

.neck {
    position: relative;
    margin: 0 auto;
    height: 30vh;
    width: 90vw;
    background-color: rgb(53, 0, 0);
}

.nut {
    position: absolute;
    background-color: lightgray;
    height: 30vh;
    width: 0.5vw;
}



.fret {
    position: absolute;
    background-color: lightgray;
    height: 30vh;
    width: 0.5vw;
}

.fretMarker {
    position: absolute;
    margin-top: 13vh;
    height: 2vh;
    width: 1vw;
    background-color: lightgray;
    border-radius: 50px;

}
