html, body {
    background-color: rgb(0, 0, 20);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;

}

.parent {
    margin-top: 30vh;
    width: 100%;
}

.neck {
    border: 0.1vh solid lightgray;
    position: relative;
    margin: 0 auto;
    height: 30vh;
    width: 90vw;
}

.nut {
    position: absolute;
    background-color: lightgray;
    height: 30vh;
    width: 1vw;
}



.fret {
    position: absolute;
    background-color: lightgray;
    height: 30vh;
    width: 0.1vw;
}

.fretMarker {
    position: absolute;
    margin-top: 14.5vh;
    height: 1.4vh;
    width: 0.7vw;
    background-color: lightgray;
    border-radius: 50px;

}

.notes {
    height: 2vh;
    width: 2vw;
    border-radius: 50px;
    background-color: lightgray;
}