html, body {
    background-color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;

}

.parent {
    margin-top: 0vh;
    width: auto;
    height: auto;
}

.neck {
    display: block;
    border-right: 0.1vh solid rgb(0, 0, 0);
    position: relative;
    margin: 0 auto;
    height: auto;
    width: auto;
}

.nut {
    position: absolute;
    background-color: rgb(0, 0, 0);
    height: 30vh;
    width: 1vw;
}



.fret {
    position: absolute;
    background-color: rgb(0, 0, 0);
    height: 30vh;
    width: 0.1vw;
    z-index: 99999;
}

.fretMarker {
    position: absolute;
    margin-top: 14.5vh;
    height: 12px;
    width: 12px;
    background-color: rgb(0, 0, 0);
    border-radius: 50px;

}


.note {
    position: relative;
    height: 30px;
    width: 30px;
    border-radius: 50px;
    background-color: rgb(0, 0, 0);
}