body, html {
    background-color: black;
    color: rgb(162, 249, 255);
    font-family: 'Press Start 2P', cursive;
    font-size: 1.3rem;
    height: 100%;
    margin: 0;
}

.parentClass {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}