body, html {
    background: linear-gradient(blue, purple);
    background-repeat: no-repeat;
    height: 120vh;
    width: 100vw;
    overflow: hidden;
}
.parent {
    font-family: 'Courier New', Courier, monospace;
    font-size: 3rem;
    display: flex;
    justify-content: center;
}

.score {
    background: repeating-radial-gradient(orange, red);
    position: absolute;
    display: flex;
    justify-content: center;
    height: 13vh;
    width: 10vw;
    border-radius: 50px;
}

.scoreNumClass {
    position: absolute;
}

.resetButtonClass {
    position: absolute;
    width: 80px;
    height: 50px;
    transform: translate(0,50vh);
    background-color: orange;
    border: none;
    font-weight: bold;
    outline: none;
}

.resetButtonClass:hover {
    background-color: rgb(168, 109, 0);
}

.resetButtonClass:active {
    width: 70px;
    height: 40px;
}

.gameWindowClass {
    background-color: black;
    margin-top: 8%;
    border: 1px solid black;
}

.gameOverClass {
    position: absolute;
    color: red;
    font-weight: bold;
    transform: translate(0,40vh);
}