.parent {
    font-size: 2rem;
    display: flex;
    justify-content: center;
}

.score {
    position: absolute;
    display: flex;
    justify-content: center;
    transform: translate(0,5vh);
}

.scoreNumClass {
    transform: translate(0.6vw,3.5vh);
}

.gameWindowClass {
    margin-top: 8%;
    border: 1px solid black;
}