body, html {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: tomato;
    
}

button {
    border-radius: 5px;
    height: 50px;
    width: 80px;
    font-size: 1.5rem;
    border: 0px;
    margin: 40px 11px 0px

    
}

input {
    border-radius: 5px;
    border: 0px;
    height: 50px;
    width: 100px;
    margin: 0px 50px 0px;
}

.boxes {
    display: inline-flex;
    
}

.allt {
    margin: 15%;
}