html, body {
    display: inline;
    text-align: center;
    margin: 20%;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

html { 
    background: url(bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }