html, body {
    font-size: 1rem;
}

.parent {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
}

.logo {
    background-color: sandybrown;
}

img {
    width: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: translate(0,0vh);
}

.toolbar {
    padding: 1vh;
    background-color: steelblue;
    text-align: center;
}

.add, .remove, .misc, .string {
    margin-right: 2vw;
    display: inline;
}

.line {
    margin-left: 1.7vw;
    border-left: 1px solid black;
}

button {
    font-size: 1.3rem;
    color: rgb(207, 0, 207);
    background-color: white;
    outline: none;
    border: 1px solid  rgb(207, 0, 207);
    border-radius: 2px;
}

button:hover {
    color: white;
    background-color:  rgb(207, 0, 207);
}

.actionButton {
    margin-left: 1vw;
    height: 5vh;
    font-size: 1.3rem;
    color: rgb(207, 0, 207);
    background-color: white;
    outline: none;
    border: 1px solid  rgb(207, 0, 207);
    border-radius: 2px;
}

.actionButton:hover {
    color: white;
    background-color:  rgb(207, 0, 207);
}


.input {
    text-align: center;
    height: 25vh;
    background-color: lightgreen;
}

.pushInputBox {
    margin-top: 10vh;
    height: 5vh;
    width: 20vw;
}

.output {
    height: 25vh;
    background-color: salmon;

}