html, body {
    background-color: blue;
    color: white;
    font-size: 1rem;
}

.parent {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40vh;
}

.formula {
    display: grid;
}

.show {
    display: grid;
}