html,body {
    background-color: aquamarine;
    font-family: sans-serif;
    font-size: 5vh;
    text-align: center;
    color: whitesmoke;
}

.parent {
    border-radius: 12px;
    background-color: black;
    margin: -2vh auto;
    width: 90vw;
    height: 90vh;;
}

.weatherInfo {
    margin: 15%;
}