body, html {
    margin: 0;
    height: 100%;
    overflow: hidden;
    background-color: lightgray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    font-size: 5vh;
}

.selector {
    display: grid;
    border: 5px solid grey;
}

.parent {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.child {
    margin: 0 auto;
    margin-top: -50%;
    display: grid;
    float: right;
    grid-template-rows: repeat(var(--grid-rows), 5vh);
    grid-template-columns: repeat(var(--grid-cols), 5vh);
}

.grid {
    margin: 0 auto;
    height: 5vh;
    width: 5vh;
    border: 1px solid grey;
  }


.colorCell {
    flex-basis: 100%;
    height: 10vh;
    width: 10vh;
}

.menu{
    margin-top: 0%;
    margin-left: 10%;
    position: fixed;
}

.selectedColor {
    margin-top: 0%;
    margin-left: 80%;
    position: absolute;
}