body, html {
    margin: 0;
    height: 100%;
    overflow: hidden;
    background-color: lightgray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    font-size: 5vh;
}

.selector {
    display: grid;
}

.parent {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.child {
    margin: -45% auto;
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 5vh);
    grid-template-columns: repeat(var(--grid-cols), 5vh);
}

.grid {
    height: 5vh;
    width: 5vh;
    border: 1px solid grey;
  }


.colorCell {
    margin: 5px;
    border: 3px solid black;
    display: grid;
    flex-basis: 100%;
    height: 8vh;
    width: 8vh;
}

.menu{
    margin-top: 0%;
    margin-left: 10%;
    position: fixed;
}

.selectedColor {
    margin-top: 0%;
    margin-left: 75%;
    position: absolute;
}

.selectedColorBox {
    margin: 0 auto;
    background-color: white;
    border: 3px solid black;
    height: 8vh;
    width: 8vh;
}