body, html {
    height: 100%;
    margin: 0%;
    background-color: black;
    color: whitesmoke;
    overflow: hidden;
}

.parent {
    height: 100vh;
    display: flex;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 0vw;
    height: 100vh;
    background-color: green;
    color: green;
    transition: width 1s, color 0.8s;
}

.sidebaropen {
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 100vh;
    background-color: green;
    color: whitesmoke;
    transition: width 1s, color 0.8s;
}

.option {
    line-height: 9vh;
    text-align: center;
    height: 10vh;
    outline: 1px solid black;
}

.option:hover {
    background-color: white;
    transition: background-color 500ms linear;
}

.hamburger {
    transform: rotate(90deg);
    position: absolute;
    background-color: green;
    outline: none;
    border: none;
    width: 50px;
    height: 50px;
    transform: translate(0vw,0);
    transition: background-color 500ms;
}

.hamburger:hover {
    background-color: purple;
    transition: background-color 500ms;
}


.main {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    background-color: black;
}