html, body {
    font-size: 2vw;
    text-align: center;
    font-family: sans-serif;
    overflow: hidden;
}



input {
    text-align: center;
    font-size: 48px;
    height: 5vw;
    width: 25vw;
}

.parent {
    width: 100%;
    border-radius: 100px;
}

.ballTop {
    color:  white;
    width: 100%;
    height: 33vh;
    background-color: red;
}

.ballMiddle {
    width: 100%;
    color: gainsboro;
    height: 28vh;
    background-color: black;
}

.ballBottom{
    width: 100%;
    background-color: white;
    display: inline;
    margin: -4vw auto;
    height: 33vh;

}

p {
    margin: auto 10px;
}

button{
    background-color: black;
    color:  white;
    border-color: red;
    width: 5vw;
    height: 5vh;
}

.image1 {
    float: left;
    height: 40vh;
}

.info {
    margin: 0 40%;
}

.image2 {
    float: right;
    height: 40vh;
}