body, html {
    background-color: black;
    color: rgb(162, 249, 255);
    font-family: 'Press Start 2P', cursive;
    font-size: 1.3rem;
    height: 100%;
    margin: 0;
}

.parentClass {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.titleScoreClass{
    position: absolute;
    width: 800px;
    background-color: rgb(47, 0, 255);
    margin-top: 16.9vh;
}

.gameWindowClass {
    margin-top: 20vh;
    position: absolute;
}