

html, body {
    display: block;
    background-image: url(img/background.jpg);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-size: 1.5vw;
    text-align: center;
    font-family: sans-serif;
    color: tomato;
    overflow: hidden;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

.opponent {
    height: auto;
    width: 25%;
}
.avatar {
    height: auto;
    width: 25%;
}

.score {
    font-size: 1.5rem;
    margin: 50px;
}
 .scorenumber {
     transform: translate(0px, 40px);
     font-size: 3rem;
     margin-top: 0px;
 }

 .scoretext {
     margin: -2%;
 }



.button1 {
    outline: none;
    background: transparent;
    border: none;
    
}

.button1:hover {
    animation-name: rotate; 
    animation-duration: 0.8s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotate {
    0% {transform: scale(1);}
    50% {transform: scale(0.8);}
    100% {transform: scale(1);}
    
}

.button2 {
    outline: none;
    background: transparent;
    border: none;
}

.button2:hover {
    animation-name: rotate; 
    animation-duration: 0.8s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.button3 {
    outline: none;
    background: transparent;
    border: none;
}

.button3:hover {
    animation-name: rotate; 
    animation-duration: 0.8s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.avatar {
    margin-right: 100px;
}

.restartbtn {
    visibility: hidden;
    position: absolute;
    outline: none;
    background-color: tomato;
    border: none;
    color: white;
    padding: 15px 32px;
    width: 10%;
    height: auto;
    text-decoration: none;
    transform: translate(-50%, -500%);
    
}

.reveal {
    -webkit-animation: fadeIn 1.5s;
    
}

@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }





