html,body {
    font-size: 1.5rem;
    font-effect-anaglyph;
    font-family: 'Barriecito', cursive;
    color: blanchedalmond;
    background-color: black;
}

.parent{
    margin: 10% auto;
    width: 500px;
}