html, body {
    background-color: rgb(255, 255, 255);
    color: white;

}

.parent {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40vh;
    font-size: 1.5rem;
    text-align: center;
    flex-direction: column;
}

.formula {
    display: flex;
    border-radius: 25px;
    width: 500px;

}

.inputBox {
    text-align: center;
    width: 200px;
    border-radius: 50px;
    font-weight: bold;
    margin-top: 5px;
}

.btn {
    background-color: white;
    border-radius: 50px;
    border: 2px blue;
    font-weight: bold;
}