body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(102, 102, 102);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sequencerDiv {
  background-color: rgb(70, 70, 70);
  display: flex;
  justify-content: center;
  align-self: center;
}

.squareActive {
  border-radius: 50px;
  width : 25px;
  height : 25px;
  background-color: rgb(207, 207, 207);
  border : 1px solid black;
}

.squareInactive {
  border-radius: 50px;
  width : 25px;
  height : 25px;
  background-color: rgb(73, 73, 73);
  border : 1px solid black;
}

.playHead{
  border-radius: 50px;
  width : 25px;
  height : 25px;
  background-color: yellow;
  border : 1px solid black;
}

.buttonsDiv{
  background-color: rgb(70, 70, 70);
  display: flex;
  margin-top: 5vh;
  justify-content: center;
}

.trackText {
  color: white;
  font-size: 1rem;
}

.sliderDiv {
  display: flex;
  justify-content: center;
  height: 0vh;
}

.theSlider {
  max-width: 25vw;
}