html, body {
    background-color: green;
    color: black;
    font-family: 'Press Start 2P', cursive;
}

.parent {
    display: flex;
    justify-content: center;
    margin-top: 15vh;

}

.titleClass {
    position: absolute;
    margin-top: -10vh;
    font-size: 5rem;
}

.gameWindowClass {
    background-color: black;
}