html, body {
    background-color: green;
    color: black;
    font-family: 'Press Start 2P', cursive;
}

.parent {
    display: flex;
    justify-content: center;
    margin-top: 15vh;

}

.titleClass {
    position: absolute;
    margin-top: -10vh;
    font-size: 3rem;
}

.titleClassAnimated {
    position: absolute;
    margin-top: -10vh;
    font-size: 3rem;
    animation:colorchange 2s infinite alternate;
}

.scoreClassPlayer {
    position: absolute;
    margin-top: -10vh;
    font-size: 3rem;
}

.scoreClassAi {
    position: absolute;
    margin-top: -10vh;
    font-size: 3rem;
}

.gameWindowClass {
    background-color: black;
}

@keyframes colorchange {

    0% {
        
        color: rgb(255, 0, 0);
      }
      
      10% {
        
        color: #ff00c8;
      }
      
      20% {
        
        color: #0019fa;
      }
      
      30% {
        
        color: #00ff00;
      }
      
      40% {
        
        color: rgb(251, 255, 0);
      }
      
      50% {
        font-size: 3.5rem;
        color: #ff0000;
      }
      
      60% {
        
        color: rgb(234, 0, 255);
      }
      
      70% {
        
        color: #0011ff;
      }
      80% {
     
        color: #00ffff;
      }
      
      90% {
     
        color: #09ff00;
      }
      
      100% {
        font-size: 3rem;
        color: rgb(255, 153, 0);
      }
    }