html, body {
    background-color: black;
    color: whitesmoke;
    font-family: sans-serif;
}

.parent {
    display: flex;
    justify-content: center;
    margin-top: 15vh;

}

.titleClass {
    position: absolute;
    margin-top: -10vh;
    font-size: 5rem;
}

.gameWindowClass {
    background-color: tomato;
}